@import "modern-normalize/modern-normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --card: 124 46.44% 86.6%;
        --ring: 124 28% 56%;
        --input: 124 17.99% 69.36%;
        --muted: 124 26.94% 83.15%;
        --accent: 159 51.92% 74.94%;
        --border: 124 31.17% 37.73%;
        --popover: 124 65% 83%;
        --primary: 124 41% 56%;
        --secondary: 124 35% 80%;
        --background: 124 50% 95%;
        --foreground: 124 25% 35%;
        --destructive: 12.78 83.18% 37.23%;
        --card-foreground: 120 31.03% 5.69%;
        --muted-foreground: 120 2.85% 35.9%;
        --accent-foreground: 159 33% 10.66%;
        --popover-foreground: 124 33% 43%;
        --primary-foreground: 124 33% 5.6%;
        --secondary-foreground: 124 33% 5.69%;
        --destructive-foreground: 120 22.5% 90.41%;
        --radius: 0;
        --ds-background-selected: #61bd6780;
        --separator: 0 0% 9.4%;
    }

    .dark {
        --card: 124 38.35% 7.28%;
        --ring: 124 41% 56%;
        --input: 124 14.72% 34.42%;
        --muted: 124 40% 11.72%;
        --accent: 159 46.27% 21.21%;
        --border: 124 14.72% 34.42%;
        --popover: 124 39.15% 14.56%;
        --primary: 124 41% 56%;
        --secondary: 124 41% 15.12%;
        --background: 124 26.65% 4.48%;
        --foreground: 124 31% 84.66%;
        --destructive: 12.78 48.06% 59.52%;
        --card-foreground: 124 31% 97.8%;
        --muted-foreground: 124 10.46% 57.62%;
        --accent-foreground: 159 31% 97.8%;
        --popover-foreground: 124 31% 97.8%;
        --primary-foreground: 124 31% 5.6%;
        --secondary-foreground: 124 31% 97.8%;
        --destructive-foreground: 120 3.45% 5.69%;
        --ds-background-selected: #61bd6780;
        --separator: 0 0% 100%;
    }

    .dark_gray {
    --card: 210 15% 20%;
    --ring: 0 0% 100%;
    --input:  210 10% 60%;
    --muted: 210 10% 30%;
    --accent: 210 10% 60%;
    --border: 210 10% 40%;
    --popover: 210 15% 20%;
    --primary: 0 0% 100%;
    --secondary: 210 15% 20%;
    --background: 210 15% 15%;
    --foreground: 0 0% 100%;
    --destructive: 0 70% 60%;
    --card-foreground: 210 15% 85%;
    --muted-foreground: 210 10% 60%;
    --accent-foreground: 210 15% 95%;
    --popover-foreground: 210 15% 85%;
    --primary-foreground: 210 15% 60%;
    --secondary-foreground: 210 15% 60%;
    --destructive-foreground: 0 0% 100%;
    --ds-background-selected: #1f6feb80;
    --separator: 210 10% 35%;
    }

    .blue_light {
    --card: 218, 65%, 26%;         
    --ring: 218 65.4% 85%;        
    --input: 218 65.4% 26.1%;          
    --muted: 218 65.4% 85%;        
    --accent: 218, 65%, 20%;    
    --border: 218 65.4% 26.1%;         
    --popover: 0 0% 100%;     
    --primary: 218 65.4% 26.1%;      
    --secondary: 218 65.4% 26.1%;    
    --background: 218 65.4% 98%;    
    --foreground: 218, 65%, 20%;     
    --destructive: 0 70% 70%;        
    --card-foreground: 0 0% 100%; 
    --muted-foreground: 211 33.1% 52.6%; 
    --accent-foreground: 0 0% 100%;
    --popover-foreground: 218 65.4% 26.1%;
    --primary-foreground: 218 65.4% 26.1%; 
    --secondary-foreground: 0 0% 100%; 
    --destructive-foreground: 218 65.4% 26.1%; 
    --ds-background-selected: #255fc380; 
    --separator: 218 65.4% 85%;
    }

    .blue_dark {
    --card: 218 65.4% 26.1%;
    --ring: 214 65% 9.9%;
    --input: 218 20% 22%;
    --muted: 218 65.4% 26.1%;
    --accent: 218 15% 92%;
    --border: 218 20% 32%;
    --popover: 218 65.4% 26.1%;
    --primary: 218 65.4% 26.1%;
    --secondary: 218 65.4% 26.1%;
    --background: 214 65% 9.9%;
    --foreground: 218 15% 92%;
    --destructive: 0 70% 55%;
    --card-foreground: 218 15% 92%;
    --muted-foreground: 214 65% 9.9%%;
    --accent-foreground: 214 65% 9.9%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --destructive-foreground: 218 65.4% 26.1%;
    --ds-background-selected: #2a65ff80;
    --separator: 218 20% 28%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    input[type="color"] {
        border: none;
        padding: 0 !important;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0 !important;
    }
    input[type="color"]::-webkit-color-swatch {
        @apply rounded-md;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    @keyframes shake {
        0%, 100% { transform: translate(-50%, -50%); }
        10%, 90% { transform: translate(calc(-50% - 1px), -50%); }
        20%, 80% { transform: translate(calc(-50% + 2px), -50%); }
        30%, 50%, 70% { transform: translate(calc(-50% - 4px), -50%); }
        40%, 60% { transform: translate(calc(-50% + 4px), -50%); }
    }

    .shake-animation {
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    }
}
